<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "L'Esbroufe", root_path, class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">

    
        <!-- to be completed later on with content
        <li><%= link_to "Accueil", root_path %></li>
  			<li><%= link_to "A propos", '#' %></li> -->
        <li><%= link_to "Facebook", 'http://facebook.com/LEsbroufe', :target => "_blank" %>
          <li><%= link_to "Twitter", 'http://Twitter.com/LEsbroufe', :target => "_blank" %>
            <li><%= link_to "Soundcloud", 'http://Soundcloud.com/lesbroufe', :target => "_blank" %>
  			
  
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>